<p>
  <strong>name</strong>
  <%= @profile.first_name %>
  <%= @profile.second_name %>
</p>

<p>
  <strong>sex:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>dob</strong>
  <%= @profile.date_of_birth %>
</p>
 
 <p>
  <strong>home town:</strong>
  <%= @profile.home_town %>
</p>

<td><%= link_to 'Update profile', edit_profile_path %></td>
<div>