<div><% if @user != current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <% end %>

  <% @user ||= @profile.user %>
  <% if @user != current_user %>
	  <a>
	  	<%= render "users/follow_form" %>
	  </a>
	<% end %>
</div>

<p>
  <strong>name</strong>
  <%= @profile.first_name %>
  <%= @profile.second_name %>
</p>

<p>
  <%= link_to 'Send a message', new_message_path %>
</p>

<p>
  <strong>sex:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>dob</strong>
  <%= @profile.date_of_birth %>
</p>
 
 <p>
  <strong>home town:</strong>
  <%= @profile.home_town %>
</p>

<td><%= link_to 'Update profile', edit_profile_path %></td>
<div>


<% @photos.each do |photo| %>
  <div class='col-md-4'>
    <h3><%= photo.title %></h3>
    <%= link_to photo_path(photo) do %>
      <%= image_tag(photo.image.url(:thumb), class: 'uploaded-pic') %>
    <% end %>
  </div>
<% end %>
<div>
