<%= div_for(conversation, :class =>"#{ 'unread ' if conversation.is_unread?(@actor) }") do %>

  <div class="content_left">
    <header>
      <h5>
         <%= link_to conversation.last_sender.profile.first_name, profile_path(conversation.last_sender.profile) %>
      
      

    </header>

  </div>
 
  <div class="content_right">

    <div class="subject">
       <%= link_to(truncate(conversation.subject, :length => 55), conversation_path(conversation.id,:box => @box,:page => params[:page])) %>
    </div>
   

    <% unless @box.eql?'trash' %>
      <div class="action">
      
      </div>
    <% end %>
     <div class="panel panel-default">
  <div class="panel-body">
    <div class="briefing">
      <%= raw(truncate(strip_tags(conversation.last_message.body), :length => 140)) %>
    </div>
  </div>
<% end %>
</div>
</div>
<div class="date">
         <%= time_ago_in_words(conversation.updated_at) %> ago
      </div>
 <p><a href="/messages/new"><i class="fa fa-reply fa-2x"></i></a><%= link_to conversation, :method => :delete, :class => 'action', :confirm => 'Are you sure?' do %><i class="fa fa-trash-o fa-2x"></i><% end %></p>