<h1>Favourites</h1>
<div>
<% @favourite_photos.each do |photo| %>
	  <div class='col-md-4'>
      <h3><%= photo.title %></h3>
      <%= image_tag photo.image.url(:thumb), class: 'uploaded-pic' %>
      	<p><%= photo.text %></p>
      	<p>Tags:
        <%= tag_names(photo) %>
      </p>
      <p><%= link_to favourite_photo_path(photo, type: "unfavourite"), method: :put do %><i class="fa fa-star-o fa-2x"><% end %></i></p>
   

      
    </div>
    
	<% end %>
	</div>