<h1>Home Feed</h1>


<td></td>

<div>
	<% @photos.each do |photo| %>
	  <div class='col-md-4'>
      <h3><%= photo.title %></h3>
      <%= image_tag photo.image.url(:thumb), class: 'uploaded-pic' %>
      	<p><%= photo.text %></p>
      	<p>Tags:
        <%= tag_names(photo) %>
      </p>
      <td><%= link_to 'comment', photo_path(photo) %></td>
      <td><%= link_to 'Update', edit_photo_path(photo) %></td>
	    <td><%= link_to 'delete', photo_path(photo),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>

                    
  <p><%= link_to "favourite",   favourite_photo_path(photo, type: "favourite"), method: :put %></p>
<p>  <%= link_to "unfavourite", favourite_photo_path(photo, type: "unfavourite"), method: :put %> </p>

      
    </div>
    
	<% end %>


  

</div>
