<% if signed_in? %>
      <section>
        <%= render 'shared/stats' %>
      </section>

<% end %>

<div>
	<% @photos.in_groups_of(3).map {|f| f.compact}.each do |photo_row| %>
    <div class="row">
      <% photo_row.each do |photo| %>
        <div class='col-md-4'>
          <h3><%= photo.title %></h3>
          <%= link_to photo_path(photo) do %>
            <%= image_tag(photo.image.url(:thumb), class: 'uploaded-pic') %>
          <% end %>
        	<p><%= photo.text %></p>
        	<p><%= tag_names(photo) %></p>
          <td>
            <%= link_to favourite_photo_path(photo, type: "favourite"), method: :put do %><i class="fa fa-star fa-2x"></i><% end %> 

            <% if photo.user == current_user %>
              <%= link_to photo_path(photo),
                        method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o fa-2x"></i></i><% end %>
            <% end %>
          </td>
        </div>
      <% end %>

    </div>
	<% end %>
</div>
