<h1>Home Feed</h1>

<div>
	<% @photo.each do |photo| %>
	  <div class='col-md-4'>
      <h3><%= photo.title %></h3>
      <%= image_tag photo.image.url(:thumb), class: 'uploaded-pic' %>
      	<p><%= photo.text %></p>
      	<p>Tags:
        <%= tag_names(photo) %>
      </p>
      <td><%= link_to 'comment', photo_path(photo) %></td>
      <td><%= link_to 'Update', edit_photo_path(photo) %></td>
	    <td><%= link_to 'delete', photo_path(photo),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
    
	<% end %>
</div>
