<h1>New Photo</h1>


<%= form_for :photo, url: photos_path do |f| %>


   <%= f.label :title %>
   <%= f.text_field :title %>

   <%= f.label :text %>
   <%= f.text_field :text %>
  
   <%= f.label :image %>
   <%= f.file_field :image %>
 
   <%= f.submit 'add photo'%>
  <% end %>

  <%= link_to "home", photos_path %>

  